<div class="activities">

    <div>
        <h2 style="margin-left: 5rem;">MEDI NURSE 💊</h2>
    </div>
    <br>
    <div style="border-radius: 25px; border: 4px solid white; padding: 20px; width: 350; height: auto;">
    {{final_answer}}
    </div>
    <div style="border-radius: 25px; border: 4px solid white; padding:20px; width:350; height: auto;
    margin-top: 0.5rem">

        <form method="GET" action="{% url 'home' %}">
            <input name="question" style="background: transparent; outline: none; border: none; color: aliceblue;" />
        </form>

    </div>
</div>