<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <script src="{% static 'js/script.js' %}" type="module"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap"
      rel="stylesheet"
    />
    <title>MediAssist | Symptoms</title>
  </head>

  <body>
    <canvas class="orb-canvas"></canvas>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'upload' %}">Upload</a></li>
        <li><a href="{% url 'symptoms' %}">Symptoms</a></li>
        <li><a href="{% url 'medicine' %}">Search Meds</a></li>
      </ul>
    </nav>
    <main class="details">

      <form action="" method="POST" autocomplete="off">
        <h2>
          Get relief from your symptoms with the right medicine, tailored for you. 
        </h2>
        {% csrf_token %}
        <!-- symptoms -->
        <div class="mb-5" id="symptomsWrapper">
          <p class="home__title">
            Enter the first symptoms before adding more.
          </p>
          <div class="px-5 field mb-3">
            <input
              type="text"
              class="border-0 me-2 form-control form-control-sm"
              name="symptoms"
              id="symptoms"
              placeholder="Enter your symptom(s)"
              autofocus
            />
            <span onclick="addField(this)" class=" buttons">+</span>
            <span onclick="removeField(this)" class=" buttons">−</span>
          </div>
        </div>
        <div class="mb-5">
          <button type="submit">Show Medicines</button>
        </div>
      </form>
    </main>
  </body>
  <script src="{% static 'js/dynamicTextField.js' %}"></script>
</html>
